.header {
    background-color: #8c9199a2;
    padding: 1rem 0;
    border-bottom: 1px solid #e4dbdb7e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        margin: 0  5rem;

        h1 {
            font-size: 1.875rem;
            font-weight: 700;
            color: #111827;
            margin: 0;
        }

        .btn-logout {
            padding: 0.5rem 1rem;
            background-color: white;
            border: 1px solid #d1d5db;
            border-radius: 0.375rem;
            color: #374151;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: #f9fafb;
            }
        }
    }

    .logo-header {
        display: flex;
        gap: 1rem;
        width: 60px;
        border-radius: 50%;


    }

    .logo-title {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
